<!DOCTYPE html>
<html>
  <head>
    <title> Spec Runner </title>

    <link rel="stylesheet" href="/lib/mocha/mocha.css" />
  </head>
  <body>
    <div id="mocha"></div>
    <div id="fixtures" style="display:none;"></div>
    
    <script src="/lib/chai/chai.js"></script>
    <script src="/lib/mocha/mocha.js"></script>
    <script src="/lib/requirejs/require.js"></script>
    <script src="/lib/jquery/jquery.min.js"></script>

    <script>
      mocha.ui('bdd');
      mocha.reporter('html');

      var should = chai.should();
    </script>

    <script>
      window.global = window;

      function getParameterByName(name) {
        var key, regex, results;

        key = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        
        regex = new RegExp("[\\?&]" + name + "=([^&#]*)");

        results = regex.exec(location.search);

        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }

      global.DEBUG = getParameterByName('debug') || false;
    </script>

    <script src="/Bacon/config.js"></script>
    
    <script>
      require.config({
        baseUrl: '../..',

        paths: {
          Fixtures: "/test/fixtures/Bacon"
        }
      });
    </script>

    <script>
      require([{{{specs}}}], function() {
        if(window.mochaPhantomJS) {
          mochaPhantomJS.run();
        } else {
          mocha.run();
        }
      });
    </script>
  </body>
</html>